body {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.dark {
  background-color: rgb(17 24 39);
  color: white;
}

.light {
  background-color: rgb(126, 130, 137);
  color: black;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.allow-select {
  -webkit-user-select: text; /* Safari */
  -ms-user-select: text; /* IE 10 and IE 11 */
  user-select: text; /* Standard syntax */
}

@keyframes slideIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  70% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.animate-slide-in {
animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

.animate-slide-out {
animation: slideOut 0.3s ease-out forwards;
}

.spinner {
  margin: 10px;
  content: '';
  width: 50px;
  height: 50px;
  background-color: gray;
  border: 6px solid transparent;
  border-top-color: rgb(162, 154, 154);
  border-left-color: rgb(162, 154, 154);
  border-radius: 50%;
  mask-image: radial-gradient(circle, black 70%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle, black 70%, transparent 100%);
  animation: spin 1.2s cubic-bezier(.73,.22,.5,.92) infinite;
}